<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/forms.css">
    <title>Edit Game</title>
</head>
<body>
<header class= "pageHeader">
    <h1>Edit <%= game.title %><br>
    </h1>
</header>
<section class="formContainer">
    <div class="form">  
        <form action="/games/<%=game._id%>/?_method=put" method='POST'>

        <label for="title"><span>Title<span class="required"> *</span></span>
        <input type="text" class="input-field" name="title" value= '<%= game.title %>'/></label>

        <label for="img"><span>Go grab an image url and paste it here:<span class="required"> *</span></span>
        <input type="text" class="input-field" name="img"value= '<%= game.img %>'/></label>

        <label for="playerMin"><span>Minimum amount of people that can play?</span> 
        <input type="number" class="input-field" name="playerMin" value= '<%= game.playerMin %>'/></label>

        <label for="playerMax"><span>Maximim amount of people that can play?</span> 
        <input type="number" class="input-field" name="playerMax" value= '<%= game.playerMax %>'/></label>

        <label for="durationMin"><span>Minimum amount of time it takes to play a game?</span> 
        <input type="number" class="input-field" name="durationMin" value= '<%= game.durationMin %>'/></label>

        <label for="durationMax"><span>Maximim amount of time it takes to play a game?</span> 
        <input type="number" class="input-field" name="durationMax"value= '<%= game.durationMax %>'/></label>

        <label for="description"><span>Give a brief description:</span><br>
        <textarea type="text" class="textarea-field" name="description"> <%= game.description %></textarea></label>


        <input type="submit">
        
        <a href="/games/<%= game._id %>" class ='button'>Cancel</a>

        </form>
    </div>  
</section>
</body>
</html>