<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <title>Edit Game</title>
</head>
<body>
    <form action="/games/<%=game._id%>/?_method=put" method='POST'>
        <label for="title">Title:</label>
        <input type="text" name='title' value= '<%= game.title %>'>
        <br>
        <label for="description">Give a brief description:</label>
        <textarea type="text" name="description" rows="5", cols="160"><%= game.description %></textarea>
        <br>
        <label for="playerMin">Minimum amount of people that can play?</label>
        <input type="number" name="playerMin" value= '<%= game.playerMin %>'>
        <br>
        <label for="playerMax">Maximim amount of people that can play?</label>
        <input type="number" name="playerMax" value= '<%= game.playerMax %>'>
        <br>
        <label for="durationMin">Minimum amount of time it takes to play a game?</label>
        <input type="number" name="durationMin" value= '<%= game.durationMin %>'>
        <br>
        <label for="durationMax">Maximum amount of time it takes to play a game?</label>
        <input type="number" name="durationMax" value= '<%= game.durationMax %>'>
        <br>
        <label for="img">Go grab an image url and paste it here:</label>
        <input type="text" name="img" value ='<%= game.img %>'>
        <br><br>
        <input type="submit">
        <br><br>
        <a href="/games/<%=game._id %>">Cancel</a>
    </form>   
</body>
</html>