<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Detail</title>
</head>
<body>
  <div class="gameDetail">
    <h2>
      <%= game.title %>
    </h2>

<!-- These buttons will be upt in a ribbon/nav bar -->
  <Button><a href="/games">Back</a></Button><br><br>
  <div class="modifyBtns">
    <form action="/games/<%= game._id %>/edit">
      <input type="submit" value="Update Game">
    </form><br>
        
    <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete Game">
    </form><br>   
  </div> 
<!------------------------------------------------------------->

<!----------- game description ------------------------>

<div>
  <h4>
    Description:<br> <%= game.description %>
  </h4>
  <img src="<%= game.img %>" alt="game">
  <h4>
   Number of players: <%= game.playerMin %> - <%= game.playerMax %>
  </h4>
  <h4>
    Duration: <%= game.durationMin %> - <%= game.durationMax %> Minutes
  <h4>
    Catagory: <%= game.category %>
  </h4>
</div>

  <!------------------------------------------------------------->

  <!-------------- reveiw section ----------------------->

  <h2>Reviews</h2>
  <form id="add-review-form" method="POST" action="/games/<%= game._id %>">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>

  <% if (game.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% game.review.forEach(function(r) { %>
          <tr>
            <td>
              <%= r.createdAt.toLocaleDateString() %>
            </td>
            <td>
              <%= r.content %>
            </td>
            <td>
              <%= r.rating %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
    <% } else { %>
      <h5>No Reviews Yet</h5>
      <% } %>
<!------------------------------------------------------------->
</body>
</html>