<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="/show.css">
    <title>Game Detail</title>
</head>
<body>
    <nav id="mainNav">
        <div class="btnContainer">
            <ul class="navButtons">
                <li>
                  <a href="/games/<%= game._id %>/edit">EDIT GAME</a> 
                </li>              
                <li style="padding-left:1.75em">
                <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
                <input class="deleteBtn" type="submit" value="DELETE GAME">
                </form> 
                </li>
                <li style="padding-left:1.75em"><a href="/games">MAIN COLLECTION</a></li> 
            </ul>
  
          </div>   
        </div>
    </nav>

<main>
  <section class="mainContainer">  
    <div class="game">
      <div class = "imgCon">
          <img class="gameImage" src="<%= game.img %>" alt="">
        </div>
        <div class="gamePlayer">
          <i class='fas fa-user-friends' style='font-size:36px'></i>
          <h2><strong>Number of Players:</strong> <br><%= game.playerMin %> - <%= game.playerMax %> Players</h2>
        </div><br><br>
        <div class="gameDuration">
          <i class='fas fa-clock' style='font-size:36px'></i>
          <h2><strong>Duration:</strong><br><%= game.durationMin %> - <%= game.durationMax %> Minutes</h2>
      </div>
    </div>

    <div class="gameBody">
      <h1 class="gameTitle"><%= game.title %></h1>
        <div class="descriptionCard">          
          <div class="description">
            <h2 style="padding-bottom: 1rem" class ="desTitle">Game Overview:</h2>
            <p><%= game.description %></p>
            </div>
        </div>
      
        <div class="reviewCon">  
          <h2 style="padding-bottom: 1rem" class ="desTitle">My Ratings, Reviews, and/or Comments:</h2>
          <% if (game.review.length) { %>
            <table class="reviewDisplay" style="width:90%">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% game.review.forEach(function(r) { %>
                  <tr style="height:30px">
                    <td>
                      <%= r.rating %>
                    </td>
                    <td style="padding-left: 1.5rem">
                      <%= r.content %>
                    </td>
                    <td><form method="POST" action="/reviews/<%=game._id%>/<%=r._id%>?_method=DELETE">
                    <button class="button" type="submit">DELETE</button>
                    </form>
                    </td> 
                  </tr>
                  <% }); %>
              </tbody>
            </table>          
            <% } else { %>
              <h3 style="color:rgb(248, 221, 186)">No Reviews Yet</h3>
              <% } %>
          </div>
    </div>
  </section>
  <div class="form">
      <form action="/reviews/<%=game._id%>" method='POST'>
    <div class="selectRating">
      <label for="rating"><span><B>WHAT WOULD YOU RATE THIS GAME?</B></label>
        <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option> </option>
        </select>
      </div><br>
      <label for="content"><span><B>GIVE A BRIEF REVIEW OR COMMENT:</B></span><br><br>
      <textarea type="text" class="textarea-field" name="content" value= "<%= game.review.content %>"></textarea></label><br>
    
      <input type="submit" value="SUBMIT">
      </form>
  </div>
</main>
</body>
</html>






